<div class="page" data-name="settings">
    <div class="navbar">
        <div class="navbar-inner sliding">
            <div class="title">Settings</div>
        </div>
    </div>
    <div class="page-content">
        <div class="list no-hairlines-md">
            <ul>
                <li>
                    <div class="item-content item-input">
                        <div class="item-inner">
                            <div class="item-title item-label">Position refresh frequency</div>
                            <div class="item-input-wrap">
                                <div class="range-slider range-slider-init" data-label="true" id="refreshFrequency">
                                    <input type="range" value="25" min="1" max="50" step="1" 
                                        oninput="updateRefreshFrequencyValue()">
                                </div>
                                <p id="refreshFrequencyValue">The position will refresh every 25s</p>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>